# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* popular languages for Data Science
* Tools for Data science
* Introduction to Github
* ETL, DWH

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R
4. C++
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-Learn
4. Matplotlib
5. Scipy
6. Keras
7. PyTorch

| Data Science Tools |
|--------------------|
|Spark|
|Jupyter Notebook|
|Github|
|Cassandra|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

### Author
Akanksha Bhore